LogFile={{ zabbix_dir }}/log/zabbix_agentd.log
Server={{ server_ip }}
ServerActive={{ server_ip }}:{{ server_port }}
Hostname={{ ansible_eth0.ipv4.address }}
ListenIP=0.0.0.0
ListenPort={{ agent_port }}
UserParameter=redismem,/usr/local/bin/zabbix_redis.sh mem
