Server={{ server_ip }}
ServerPort={{ server_port }}
Hostname={{ host_name }}
ListenPort={{ listen_port }}
LogFile={{ zabbix_dir }}/log/zabbix_proxy.log
DBName=zabbix_proxy
DBUser=zabbix
DBPassword={{ db_password }}
DBPort={{ db_port }}
Timeout=4
LogSlowQueries=3000
