[client]
port={{ run_port }}
socket=/tmp/mysql.sock

[mysqld]
bind-address=0.0.0.0
port={{ run_port }}
socket=/tmp/mysql.sock
datadir={{ mysql_dir }}/{{ project }}_data
symbolic-links=0
log-error={{ mysql_dir }}/log/mysqld.log
pid-file={{ mysql_dir }}/log/mysqld.pid

#区分大小写(0区分,1不区分)
lower_case_table_names=1
