#!/usr/bin/expect
set timeout 10
spawn /usr/local/src/redis-trib.rb create --replicas 1 {{ master_ip }}:7000 {{ master_ip }}:7001 {{ master_ip }}:7002 {{ slave_ip }}:7000 {{ slave_ip }}:7001 {{ slave_ip }}:7002
 expect {
 "(type 'yes' to accept):"
  {
  send "yes\n"
 }
}
expect "All 16384 slots covered."
expect eof
