ListenPort={{ server_port }}
LogFile={{ zabbix_dir }}/log/zabbix_server.log
PidFile={{ zabbix_dir }}/log/zabbix_server.pid
LogFileSize=10
DebugLevel=3
DBName=zabbix
DBUser=zabbix
DBPassword={{ db_password }}
DBPort={{ db_port }}
ListenIP=0.0.0.0
Timeout=4
LogSlowQueries=3000
JavaGateway=127.0.0.1
JavaGatewayPort=10052
StartJavaPollers=5
