[client]
port={{ run_port }}
socket=/tmp/mysql.sock

[mysqld]
bind-address=0.0.0.0
port={{ run_port }}
socket=/tmp/mysql.sock
datadir={{ mariadb_dir }}/{{ project }}_data
symbolic-links=0
log-error={{ mariadb_dir }}/log/mysqld.log
pid-file={{ mariadb_dir }}/log/mysqld.pid
